<div class="fixed z-10 w-full h-screen bg-black opacity-80">
</div>
<div class="h-full w-full fixed z-20 flex justify-center items-center flex-col gap-y-6">
    <!-- <div class="animate-spin rounded-full border-t-green-500 border-b-red-500 border-r-amber-500 border-l-sky-500 border-8
    h-16 w-16">
    </div> -->
    <div class="animate-spin rounded-full border-(--mat-sys-primary) border-b-transparent border-8 brightness-150
    h-16 w-16">
    </div>
    <div class="text-white font-bold tracking-wider">&nbsp; Loading...</div>
</div>