<h2 mat-dialog-title class="text-primary font-bold text-center">Form Settings</h2>
<mat-dialog-content class="flex flex-col gap-4 p-10">
  <div class="mt-10">
    <mat-form-field appearance="outline">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="myPicker" [(ngModel)]="data.deadline">
      <mat-datepicker-toggle matIconSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
  </div>

  @if (data.deadline) {
  <div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Custom Close Message</mat-label>
      <textarea matInput rows="1" [(ngModel)]="data.closeMessage"></textarea>
    </mat-form-field>
    <!--<button mat-button color="warn" (click)="clearDeadline()" class="mt-2">
      <mat-icon>delete_sweep</mat-icon> Remove Deadline
    </button>-->
  </div>
  }
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Maximum Responses</mat-label>
      <input matInput type="number" [(ngModel)]="data.maxResponses">
    </mat-form-field>
  </div>
 <div class="flex items-center gap-6">
  <mat-slide-toggle [(ngModel)]="data.isPrivate"  (change)="onQuizToggle()"  color="primary">
    Private Form
  </mat-slide-toggle>

  <mat-slide-toggle [(ngModel)]="data.isQuiz" color="primary">
    Quiz
  </mat-slide-toggle>

  <mat-slide-toggle 
    *ngIf="data.isQuiz"
    [(ngModel)]="data.showScore" 
    color="primary">
    Show Score
  </mat-slide-toggle>
</div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save Settings</button>
</mat-dialog-actions>