<h2 mat-dialog-title class="text-primary font-bold text-center">
  Quiz Marks Settings
</h2>

<mat-dialog-content class="flex flex-col gap-4 p-10">

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Positive Marks</mat-label>
    <input matInput type="number" [(ngModel)]="data.positiveMarks">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Negative Marks</mat-label>
    <input matInput type="number" [(ngModel)]="data.negativeMarks">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onSave()">
    Save Settings
  </button>
</mat-dialog-actions>