<mat-form-field appearance="outline" class="w-full">
  <input
    matInput
    [type]="type"
    [placeholder]="fieldData.placeholder ?? 'input here...'"
  />
</mat-form-field>
@if (fieldData.validations?.required) {
  <mat-error>Required Field</mat-error>
}
@if (fieldData.validations?.minLength ?? 0) {
  <mat-error>Input must have minlength : {{ fieldData.validations?.minLength }}</mat-error>
}
@if (fieldData.validations?.maxLength) {
  <mat-error>Input must have minlength : {{ fieldData.validations?.maxLength }}</mat-error>
}
@if (fieldData.validations?.email) {
  <mat-error>Email Type Field</mat-error>
}
