<mat-form-field appearance="outline" class="w-full">
  <input matInput [type]="bluePrint.type?.toString() ?? 'text'" [placeholder]="bluePrint.placeholder ?? 'input here...'" />
  @if(bluePrint.validation?.required){
    <mat-error>Required Field</mat-error>
  }
  @if(bluePrint.validation?.minLength!=0){
    <mat-error>Input must have minlength : {{bluePrint.validation?.minLength}}</mat-error>
  }
  @if(bluePrint.validation?.maxLength){
    <mat-error>Input must have minlength : {{bluePrint.validation?.maxLength}}</mat-error>
  }
</mat-form-field>
