<mat-radio-group class="flex flex-col gap-3">

  @for (option of fieldData.options; let i = $index; track i) {
    <div class="flex items-center gap-3 group">

      <mat-radio-button disabled></mat-radio-button>

      <input
        [(ngModel)]="fieldData.options![i]"
        class="border-b border-transparent focus:border-indigo-400 outline-none text-sm w-full bg-transparent"
        placeholder="Option label"
      />

      @if (fieldData.options!.length > 1) {
        <button
          (click)="removeOption(i)"
          class="p-1 rounded-full text-red-400 hover:bg-red-50 opacity-0 group-hover:opacity-100 transition">
          
          <mat-icon class="text-base">delete</mat-icon>

        </button>
      }

    </div>
  }

</mat-radio-group>

<button
  (click)="addOption()"
  class="text-indigo-500 text-sm font-medium mt-2 text-left hover:underline">
  + Add Option
</button>

@if (fieldData.validations?.required) {
  <mat-error>Required Field</mat-error>
}

<!-- <mat-radio-group>
  @for (option of fieldData.options; track option) {
    <mat-radio-button>
      {{ option }}
    </mat-radio-button>
  }
</mat-radio-group>
@if (fieldData.validations?.required) {
  <mat-error>Required Field</mat-error>
} -->
