.heading-sec{
    margin: 10px;
}
.heading-sec h1{
    font-size: 40px;
    font-weight: bold;
    color: var(--mat-sys-primary); 
}

.heading-sec p{
    margin-top: 15px;
    color: var(--mat-sys-on-surface-variant);;
    font-weight: 500;
}

/* Summary container */
.summary {
    display: flex;
    gap: 20px;              /* space between cards */
    margin: 30px 0;
}

/* Each card */
.cards {
    flex: 1;               /* equal width */
    background-color: var(--mat-sys-surface-container);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Left text section */
.details h3 {
    font-size: 14px;
    color: var(--mat-sys-primary); ;
    margin: 0;
    font-weight: 500;
}

.details h1 {
    font-size: 26px;
    margin: 5px 0 0;
    color: var(--mat-sys-on-surface-variant);;
    font-weight: 700;
}

/* Icon styling */
.cards mat-icon {
    font-size: 26px;   
    height: 26px;
    width: 26px;
    line-height: 26px;
    color: var(--mat-sys-on-surface-variant);
}

/* Container */
.form-data-table {
    margin-top: 20px;
    background-color: var(--mat-sys-surface);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Table */
.form-data-table table {
    width: 100%;
    border-collapse: collapse;
}

/* Header */
.form-data-table th {
    text-align: left;
    font-size: 13px;
    color: var(--mat-sys-on-surface-variant);;
    font-weight: 600;
    padding: 12px 10px;
    border-bottom: 1px solid #d1d4d9;
}

/* Rows */
.form-data-table td {
    padding: 14px 10px;
    font-size: 14px;
    color: var(--mat-sys-on-surface-variant);;
    border-bottom: 1px solid #d1d4d9;
}

.actions{
   display: flex;
   justify-content: space-between;
}