<mat-radio-group [formControl]="control">
  @for (option of fieldConfig.options; track $index) {
    <mat-radio-button [value]="option" class="block">
      {{ option }}
    </mat-radio-button>
  }
</mat-radio-group>
<!-- @if (control.hasError('required')) {
  <div class="text-xs italic text-red-500 flex justify-start items-start mt-5">
    <mat-icon style="font-size: 16px; font-weight:500;" class="relative top-1">error_outline</mat-icon>
    <mat-error class="text-red-500! ">Required.</mat-error>
  </div>
} -->