<mat-form-field appearance="outline" class="w-full">
  <input matInput
  [formControl]="control"
  [type]="fieldConfig?.type || 'text'"
  [placeholder]="fieldConfig.placeholder || 'Enter here'"/>

  @if (control.hasError('required')) {
    <mat-error> This field is required </mat-error>
  }
  @if (control.hasError('email')) {
    <mat-error> Given Value is not an email </mat-error>
  }
  @if (control.hasError('minlength')) {
    <mat-error> Minimum length not met </mat-error>
  }
  @if (control.hasError('maxlength')) {
    <mat-error> Maximum length exceeded </mat-error>
  }
</mat-form-field>
